/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: auto;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}


body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 18.75rem solid transparent;
  border-right: 18.75rem solid transparent;
  border-top: 12.5rem solid #dc2cbf;
  border-bottom: 12.5rem solid transparent;

  /*  */
  transition: transform .75s;
  transform-origin: top;
}
.gorda {
  position: relative;
  padding: 1rem;
  line-height: 4rem;
  right: 5px;

}
.paper {
  position: absolute;
  padding: 1rem;
  line-height: 1.5rem;
  right: 0.525rem;
  /*  */
  z-index: -1;
  background: rgb(211, 129, 231);
  width: 31.25rem;
  height: 21.125rem;
  transition: all .65s;
}

.letter {
  border-left: 18.75rem solid #881876;
  border-right: 18.75rem solid #881876;
  border-top: 12.5rem solid transparent;
  border-bottom: 12.5rem solid #b02299;
}

.options {
  display: flex;
  gap: 5rem;

  & button {
    color: #ff3234;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;
  }

  & button:hover {
    background: #ff989e;
    color: white;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}


.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;

  color: #fe3334;

  animation: crecer 1s forwards ;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;

  }
}